{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{# TODO refactor existing use of 'message' so type is passed - or defaulted to 'success' #}
{% if message.text and message.type %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ mojBanner({
        type: message.type,
        text: message.text,
        iconFallbackText: message.type | capitalize
      }) }}
    </div>
  </div>
{% elseif message | length %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ mojBanner({
        type: "success",
        text: message,
        iconFallbackText: "Success"
      }) }}
    </div>
  </div>
{% endif %}
