{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% if message | length %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ mojBanner({
        type: "success",
        text: message,
        iconFallbackText: "Success"
      }) }}
    </div>
  </div>
{% endif %}
