{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>

  <script src="/assets/js/jquery.min.js"></script> 
{% endblock %}


{% block pageTitle %}
  {% if errors.length %}Error: {% endif %}{{pageTitle | default(applicationName)}}
{% endblock %}

{% set primaryNavItems = [
  {
    text: "Home",
    href: "/",
    active: activePrimaryNav === "home"
  },
  {
    text: "Prisons",
    href: "/prisons",
    active: activePrimaryNav === "prisons"
  }
  ] %}

  {% set primaryNavItems = ((primaryNavItems.push({
    text: "Bookers",
    href: "/bookers",
    active: activePrimaryNav === "bookers"
  }), primaryNavItems) if featureBookersEnabled else primaryNavItems) %}

  {% block header %}
  {% include "./header.njk" %}

  {% if activePrimaryNav %}
    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: primaryNavItems
    }) }}
  {% endif %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block beforeContent %}
  {% if backLinkHref %}
    {{ govukBackLink({
      text: "Back",
      href: backLinkHref
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  {% include "partials/bannerMessage.njk" %}
  {% include "partials/errorSummary.njk" %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/mojFrontendInit.js"></script>
  {% block pageScripts %}
  {% endblock %}
{% endblock %}
