{% from "partials/activeOrInactiveTag.njk" import activeOrInactiveTag %}
{% from "partials/prisonClientTags.njk" import prisonClientTags %}

<p>
  This prison is currently
  <span data-test="prison-status">{{ activeOrInactiveTag(prison.active) }}</span>
  and enabled for <span data-test="prison-clients">{{ prisonClientTags(prison) }}</span>
</p>
