{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageHeaderTitle = 'Add an incentive level group' %}
{% set pageTitle = applicationName + " - Incentive groups - " + pageHeaderTitle %}
{% set activePrimaryNav = "prisons" %}
{% set backLinkHref = "/prisons/" + prison.code + "/incentive-groups" %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ prison.name }}</span>
        {{ pageHeaderTitle }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {# Build incentive items array for checkboxes #}
      {% set incentiveLevelItems = [] %}
      {% for incentive, description in incentiveLevels %}
        {% set incentiveLevelItems = (incentiveLevelItems.push({
          value: incentive,
          text: description
        }), incentiveLevelItems)%}
      {% endfor %}

      <form action="/prisons/{{prison.code}}/incentive-groups/add" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukInput({
          label: {
            text: 'Incentive level group name',
            classes: 'govuk-label--m'
          },
          id: 'name',
          name: 'name',
          classes: 'govuk-!-width-three-quarters govuk-!-margin-bottom-4',
          value: formValues.name,
          autocomplete: "off",
          errorMessage: errors | findError('name')
        }) }}

        {{ govukCheckboxes({
          name: "incentiveLevels",
          fieldset: {
            legend: {
              text: "Which incentive levels is this group for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: incentiveLevelItems,
          values: formValues.incentiveLevels,
          errorMessage: errors | findError('incentiveLevels')
        }) }}


        {{ govukButton({
          text: "Add",
          attributes: { "data-test": "submit" },
          preventDoubleClick: true
        }) }}

      </form>
        
    </div>
  </div>

{% endblock %}
