{% extends "partials/layout.njk" %}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "components/sessionTemplateVisitStats.njk" import sessionTemplateVisitStats -%}

{% set pageHeaderTitle = sessionTemplate.name %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}
{% set activePrimaryNav = "prisons" %}
{% set backLinkHref = "/prisons/" + sessionTemplate.prisonId + "/session-templates" %}
{% set changeStatusActionText = "activated" if sessionTemplate.active else "deactivated" %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ prison.name }}</span>
        {{ pageHeaderTitle }}
      </h1>

      {%- set categoryGroups -%}
        {%- if sessionTemplate.prisonerCategoryGroups.length -%}
          <p>
            <span data-test="category-group-behaviour">{% if sessionTemplate.includeCategoryGroupType %}Includes{% else %}Excludes{% endif %}</span>:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            {%- for categoryGroup in sessionTemplate.prisonerCategoryGroups -%}
              <li>
                <a class="govuk-link--no-visited-state" href="/prisons/{{ sessionTemplate.prisonId }}/category-groups/{{ categoryGroup.reference }}?sessionTemplateRef={{ sessionTemplate.reference }}">{{ categoryGroup.name }}</a>
              </li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          None
        {%- endif -%}
      {%- endset -%}

      {%- set incentiveGroups -%}
        {%- if sessionTemplate.prisonerIncentiveLevelGroups.length -%}
          <p>
            <span data-test="incentive-group-behaviour">{% if sessionTemplate.includeIncentiveGroupType %}Includes{% else %}Excludes{% endif %}</span>:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            {%- for incentiveGroup in sessionTemplate.prisonerIncentiveLevelGroups -%}
              <li>
                <a class="govuk-link--no-visited-state" href="/prisons/{{ sessionTemplate.prisonId }}/incentive-groups/{{ incentiveGroup.reference }}?sessionTemplateRef={{ sessionTemplate.reference }}">{{ incentiveGroup.name }}</a>
              </li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          None
        {%- endif -%}
      {%- endset -%}

      {%- set locationGroups -%}
        {%- if sessionTemplate.permittedLocationGroups.length -%}
          <p>
            <span data-test="location-group-behaviour">{% if sessionTemplate.includeLocationGroupType %}Includes{% else %}Excludes{% endif %}</span>:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            {%- for locationGroup in sessionTemplate.permittedLocationGroups -%}
              <li>
                <a class="govuk-link--no-visited-state" href="/prisons/{{ sessionTemplate.prisonId }}/location-groups/{{ locationGroup.reference }}?sessionTemplateRef={{ sessionTemplate.reference }}">{{ locationGroup.name }}</a>
              </li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          None
        {%- endif -%}
      {%- endset -%}

      {{ sessionTemplateVisitStats(visitStats) }}

      {{ govukSummaryList({
        rows: [
          {
          key: {
            text: "Status"
          },
          value: {
            html: govukTag({
              text: "Active" if sessionTemplate.active == true else "Inactive",
              classes: "govuk-tag--blue" if sessionTemplate.active else "govuk-tag--grey"
            }),
            classes: "test-template-status"
          },
            classes: "test-template-status"
          },
          {
            key: {
              text: "Reference"
            },
            value: {
              text: sessionTemplate.reference
            },
            classes: "test-template-reference"
          },
          { 
            key: {
              text: "Day of week"
            },
            value: {
              text: sessionTemplate.dayOfWeek | capitalize
            },
            classes: "test-template-dayOfWeek"

          },
          { 
            key: {
              text: "Start time"
            },
            value: {
              text: sessionTemplate.sessionTimeSlot.startTime
            },
            classes: "test-template-startTime"
          },
          { 
            key: {
              text: "End time"
            },
            value: {
             text: sessionTemplate.sessionTimeSlot.endTime
            },
            classes: "test-template-endTime"
          },
          {
            key: {
              text: "Visit order restriction"
            },
            value: {
              text: sessionTemplate.visitOrderRestriction | voRestrictionText
            },
            classes: "test-template-visitOrderRestriction"
          },
          { 
            key: {
              text: "Open capacity"
            },
            value: {
              text: sessionTemplate.sessionCapacity.open
            },
            classes: "test-template-openCapacity"
          },
          { 
            key: {
              text: "Closed capacity"
            },
            value: {
              text: sessionTemplate.sessionCapacity.closed
            },
            classes: "test-template-closedCapacity"
          },
          { 
            key: {
              text: "Valid from"
            },
            value: {
             text: sessionTemplate.sessionDateRange.validFromDate | formatDate
            },
            classes: "test-template-validFromDate"
          },
          { 
            key: {
              text: "Valid to"
            },
            value: {
              text: sessionTemplate.sessionDateRange.validToDate | formatDate
                if sessionTemplate.sessionDateRange.validToDate else "No end date"
            },
            classes: "test-template-validToDate"
          },
          { 
            key: {
              text: "Visit room"
            },
            value: {
              text: sessionTemplate.visitRoom
            },
            classes: "test-template-visitRoom"
          },
          { 
            key: {
              text: "Weekly frequency" 
            },
            value: {
              text: sessionTemplate.weeklyFrequency
            },
            classes: "test-template-weeklyFrequency"
          },
          { 
            key: {
              text: "Category groups"
            },
            value: {
             html: categoryGroups
            },
            classes: "test-template-categoryGroups"
          },
          { 
            key: {
              text: "Incentive level groups"
            },
            value: {
              html: incentiveGroups
            },
            classes: "test-template-incentiveGroups"
          },
          { 
            key: {
              text: "Location groups"
            },
            value: {
              html: locationGroups
            },
            classes: "test-template-locationGroups"
          },
          { 
            key: {
              text: "Hidden in public services"
            },
            value: {
              text: hideInPublicServices | capitalize
            },
            classes: "test-template-hideInPublicServices"
          }
        ]
      }) }}

      {% set changeStatusAction = "deactivate" if sessionTemplate.active else "activate" %}

      <h2 class="govuk-heading-m">Change session template status</h2>
      <form action="/prisons/{{ sessionTemplate.prisonId }}/session-templates/{{ sessionTemplate.reference }}/{{ changeStatusAction }}" data-test="template-change-status-form" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukButton({
          text: changeStatusAction | capitalize,
          classes: "govuk-button--warning" if sessionTemplate.active,
          preventDoubleClick: true,
          attributes: { "data-test": "session-template-change-status-button" }
        }) }}
      </form>

      <h2 class="govuk-heading-m">Update this template</h2>
      {{ govukButton({
        text: "Update",
        classes: "govuk-button--warning" if sessionTemplate.active,
        href: "/prisons/" + sessionTemplate.prisonId + "/session-templates/" + sessionTemplate.reference + "/edit",
        preventDoubleClick: true,
        attributes: { "data-test": "session-template-edit-button" }
      }) }}

      <h2 class="govuk-heading-m">Copy this template</h2>
      <p>Start adding a new session template based on this one.</p>
      <form action="/prisons/{{ sessionTemplate.prisonId }}/session-templates/{{ sessionTemplate.reference }}/copy" data-test="template-copy-form" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ govukButton({
          text: "Copy",
          classes: "govuk-button--secondary",
          preventDoubleClick: true,
          attributes: { "data-test": "session-template-copy-button" }
          }) }}
      </form>

      <h2 class="govuk-heading-m">Delete session template</h2>
      <form action="/prisons/{{ sessionTemplate.prisonId }}/session-templates/{{ sessionTemplate.reference }}/delete" data-test="template-delete-form" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukButton({
          text: "Delete" | capitalize,
          classes: "govuk-button--warning",
          preventDoubleClick: true,
          disabled: (sessionTemplate.active),
          attributes: { "data-test": "session-template-delete-button" }
        }) }}

        {% if sessionTemplate.active %}
          <p>You cannot delete an active template.</p>
        {% endif %}
      </form>

    </div>
  </div>
{% endblock %}
