{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% macro sessionTemplateVisitStats(visitStats) %}

{% set visitStatsHtml %}
  <p>
    This session template has
    <strong>{{ visitStats.visitCount }} booked {{ "visit" | pluralise(visitStats.visitCount) }}</strong>
    and <strong>{{ visitStats.cancelCount }} cancelled {{ "visit" | pluralise(visitStats.cancelCount) }}</strong> in the future.
  </p>

  {% if visitStats.visitsByDate | length %}
    <p>Future booked visits:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for statsForDate in visitStats.visitsByDate %}
        <li>
          {{ statsForDate.visitDate | formatDate }} – {{statsForDate.cancelCount }} cancelled, {{statsForDate.visitCounts.open }} open and {{statsForDate.visitCounts.closed }} closed
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endset %}

{% if visitStats.cancelCount > 0 or visitStats.visitCount > 0 %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {{ mojBanner({
        type: "information",
        html: visitStatsHtml,
        iconFallbackText: "Information",
        attributes: { "data-test": "visit-stats" }
      }) }}
    </div>
  </div>
{% endif %}

{% endmacro %}
