{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% macro sessionTemplateVisitStats(visitStats) %}

{% set visitStatsHtml %}
  <p>
    This session template has
    <strong>{{ visitStats.bookedCount }} booked {{ "visit" | pluralise(visitStats.bookedCount) }}</strong>
    and <strong>{{ visitStats.cancelCount }} cancelled {{ "visit" | pluralise(visitStats.cancelCount) }}</strong> in the future.
  </p>

  <ul class="govuk-list govuk-list--bullet">
    {% for visitDate, counts in visitStats.dates %}
      <li>
        {{ visitDate | formatDate }} –
        {%- if counts.booked %} {{ counts.booked }} booked{% endif -%}
        {%- if counts.booked and counts.cancelled %} and{% endif -%}
        {%- if counts.cancelled %} {{ counts.cancelled }} cancelled{% endif -%}
      </li>
    {% endfor %}
  </ul>
{% endset %}

{% if visitStats.cancelCount > 0 or visitStats.bookedCount > 0 %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {{ mojBanner({
        type: "information",
        html: visitStatsHtml,
        iconFallbackText: "Information",
        attributes: { "data-test": "visit-stats" }
      }) }}
    </div>
  </div>
{% endif %}

{% endmacro %}
