{% extends "../../partials/layout.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set pageHeaderTitle = prisonName %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}

{% set breadCrumbs = {
  enabled: true,
  pageTitle:  pageHeaderTitle,
  data: [{ title: 'Supported prisons', href: '/prisons' }]} %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {# for notification via req.flash ? #}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ mojBanner({
          type: 'success',
          text: prisonName + ' has been successfully enabled.',
          iconFallbackText: 'Success'
        }) }}
      </div>
    </div>

    <h1 class="govuk-heading-l">
      <span>{{ pageHeaderTitle }}</span>
    </h1>

    {% set html %}
      <h3 class="govuk-notification-banner__heading">
        Training outcome recorded and trainee withdrawn
      </h3>
      <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p>
    {% endset %}

    <p>{{ prisonName }} is: {{ govukTag({ text: "Active" if prisonInfo.active else "Inactive", classes: "govuk-tag--blue"}) }}</p>

    {{ mojButtonMenu({
      items: [{
        text: "Enable",
        preventDoubleClick: true,
        disabled: true if prisonInfo.active else false,
        href: "/config/prisons/prison/prinsonId/activate"
      }, {
        text: "Disable",
        preventDoubleClick: true,
        classes: "govuk-button--secondary",
        disabled: false if prisonInfo.active else true,
        href: "/config/prison/prisons/prinsonId/deactivate"
      }]
    }) }}

  </div>
</div>

{% endblock %}
