{% extends "../../partials/layout.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set pageHeaderTitle = prisonName %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}

{% set breadCrumbs = {
  enabled: true,
  pageTitle:  pageHeaderTitle,
  data: [{ title: 'Supported prisons', href: '/prisons' }]
} %}

{% set prisonStatus = 'Active' if prison.active else 'Inactive' %}
{% set action = "deactivate" if prison.active else "activate" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if message | length %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ mojBanner({
              type: 'success',
              text: prisonName + " has been " + message + '.',
              iconFallbackText: 'Success'
            }) }}
          </div>
        </div>
      {% endif %}

      <h1 class="govuk-heading-l">
        <span>{{ pageHeaderTitle }}</span>
      </h1>

      <p data-test="prison-name-status">{{ prisonName }} is: {{ govukTag({ text: prisonStatus, classes: "govuk-tag--blue" }) }}</p>

      <form action="/prisons/{{ prison.code }}/edit" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukButton({
          text: action | capitalize,
          name: "action",
          value: action,
          preventDoubleClick: true,
          attributes: { "data-test": action }
        }) }} 
      </form>

    </div>
  </div>
{% endblock %}
