{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% set pageHeaderTitle = 'Exclusion dates' %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}
{% set primaryNavItems = [
  {
    text: "Home",
    href: "/"
  },
  {
    text: "Prisons",
    href: "/prisons",
    active: true
  }
  ] %}
{% set backLinkHref = "/prisons/" + prisonId + "/session-templates" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {# {% include "partials/errorSummary.njk" %}
      
            {% if message | length %}
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  {{ mojBanner({
                    type: "success",
                    text: "",
                    iconFallbackText: "Success"
                  }) }}
                </div>
              </div>
            {% endif %} #}
      <h1 class="govuk-heading-l">
        <span>{{ pageHeaderTitle }}</span>
      </h1>
      {# Show message if excludeDates empty #}
      {# Build rows for exclude dates #}
      {% if excludeDates | length %}
        {% set excludeDateRows = [] %}
        {% for excludeDate in excludeDates -%}
          {% set excludeDateRows = (excludeDateRows.push([
          {
            text: excludeDate,
            attributes: { "data-test": "excluded-date" }
          },
          {
            html: govukButton({
              text: 'Remove',
              value: excludeDate,
              name: 'excludeDate'
            }),
            attributes: { "data-test": "exclude-date-row" }
          }
          ]), excludeDateRows) %}
        {%- endfor %}
        <form action="/prisons/{{ prisonId }}/exclude-date/remove" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukTable({
            classes: "govuk-!-width-three-quarters",
            head: [
              {
                text: "Excluded date"
              },
              {
                text: "Action"
              }
            ],
            rows: excludeDateRows
          }) }}
          </form>
        {% else %}
          <p class="govuk-body">
            No existing dates to exclude
          </p>
        {% endif %}
        <form action="/prisons/{{ prisonId }}/exclude-date/add" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukDateInput({
                  id: "excludeDate",
                  namePrefix: "exclude-date",
                  fieldset: {
                    legend: {
                      text: "Add exclusion date",
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  hint: {
                    text: "For example, 27 3 2023"
                  },
                  items: [
                    {
                      label: "Day",
                      name: "day",
                      classes: "govuk-input--width-2",
                      autocomplete: "off",
                      value: formValues.validExcludeDateDay
                    },
                    {
                      label: "Month",
                      name: "month",
                      classes: "govuk-input--width-2",
                      autocomplete: "off",
                      value: formValues.validExcludeDateMonth
                    },
                    {
                      label: "Year",
                      name: "year",
                      classes: "govuk-input--width-4",
                      autocomplete: "off",
                      value: formValues.validExcludeDateYear
                    }
                  ],
                  errorMessage: errors | findError('templateName')
                }) }}
            {{ govukButton({
                text: "Add",
                preventDoubleClick: true,
                attributes: { "data-test": "submit" }
                }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}