{% extends "../../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set pageHeaderTitle = "Supported prisons" %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}

{% set breadCrumbs = {
  enabled: true,
  pageTitle:  pageHeaderTitle,
  data: []} %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {# for notification via req.flash ? #}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ mojBanner({
          type: 'success',
          text: 'Hewell (HMP) has been successfully added.',
          iconFallbackText: 'Success'
        }) }}
      </div>
    </div>

    <h1 class="govuk-heading-l">
      <span>{{ pageHeaderTitle }}</span>
    </h1>

    {# Build rows for prisons #}
    {% set prisonRows = [] %}
    {% for prison in prisons %}
      {% set prisonRows = (prisonRows.push([
        {
          text: prison.code,
          attributes: { "data-test": "prison-code" }
        },
        {
          text: prisonNames[prison.code],
          attributes: { "data-test": "prison-name" }
        },
        {
          html: govukTag({
            text: 'Active' if prison.active == true else 'Inactive',
            classes: 'govuk-tag--blue' if prison.active else 'govuk-tag--grey',
            attributes: { "data-test": "prison-status" }
          })
        },
        {
          html: '<a href="/prisons/' + prison.code + '/edit">Change</a>',
          attributes: { "data-test": "prison-edit-link" }
        }
        ]), prisonRows) %}
    {% endfor %}
    
    {{ govukTable({
      classes: "govuk-!-width-three-quarters",
      head: [
        {
          text: "Prison code"
        },
        {
          text: "Prison name"
        },
        {
          text: "Status"
        },
        {
          text: "Action"
        }
      ],
      rows: prisonRows
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Add a prison</h2>

    <form action="/prisons" method="POST" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">



    {{ govukInput({
      label: {
        text: "Enter prison code or name"
      },
      classes: "govuk-input--width-20",
      id: "prisonId",
      name: "prisonId"
    }) }}

    {{ govukButton({
      text: "Add prison",
      preventDoubleClick: true,
      attributes: { "data-test": "submit" }
    }) }} 
    </form>

  </div>
</div>

{% endblock %}
