{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}

{% set pageHeaderTitle = "Supported prisons" %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}

{% set primaryNavItems = [
  {
    text: "Home",
    href: "/"
  },
  {
    text: "Prisons",
    href: "/prisons",
    active: true
  }
  ] %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% include "partials/errorSummary.njk" %}

    {% if message | length %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ mojBanner({
            type: "success",
            text: prisonNames[message] | default("UNKNOWN") + " has been successfully added.",
            iconFallbackText: "Success"
          }) }}
        </div>
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">
      <span>{{ pageHeaderTitle }}</span>
    </h1>

    {# Build rows for prisons #}
    {% set prisonRows = [] %}
    {% for prison in prisons -%}
      {% set prisonRows = (prisonRows.push([
        {
          text: prison.code,
          attributes: { "data-test": "prison-code" }
        },
        {
          html: '<a href="/prisons/' + prison.code + '/session-templates">' + prisonNames[prison.code] | default('UNKNOWN') + "</a>",
          attributes: { "data-test": "prison-name" }
        },
        {
          html: govukTag({
            text: "Active" if prison.active == true else "Inactive",
            classes: "govuk-tag--blue" if prison.active else "govuk-tag--grey",
            attributes: { "data-test": "prison-status" }
          })
        }
        ]), prisonRows) %}
    {%- endfor %}

    {{ govukTable({
      classes: "govuk-!-width-three-quarters",
      head: [
        {
          text: "Prison code"
        },
        {
          text: "Prison name"
        },
        {
          text: "Status"
        }
      ],
      rows: prisonRows
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Add a prison</h2>

    <form action="/prisons" method="POST" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      {{ govukInput({
        label: {
          text: "Enter prison code"
        },
        hint: {
          text: "For example, HEI"
        },
        classes: "govuk-input--width-20",
        id: "prisonId",
        name: "prisonId",
        autocomplete: "off",
        errorMessage: errors | findError('prisonId')
      }) }}

      {{ govukButton({
        text: "Add prison",
        preventDoubleClick: true,
        attributes: { "data-test": "submit" }
      }) }} 
    </form>

  </div>
</div>

{% endblock %}
