{% extends "../../partials/layout.njk" %}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}

{% set pageHeaderTitle = sessionTemplate.name %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}

{% set primaryNavItems = [
  {
    text: "Home",
    href: "/"
  },
  {
    text: "Prisons",
    href: "/prisons",
    active: true
  }
  ] %}

{% set backLinkHref = "/prisons/" + sessionTemplate.prisonId + "/session-templates" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ prisonName }}</span>
        {{ pageHeaderTitle }}
      </h1>

      {%- set locationGroups -%}
        {%- if sessionTemplate.permittedLocationGroups.length -%}
          <ul class="govuk-list govuk-list--bullet">
            {%- for locationGroup in sessionTemplate.permittedLocationGroups -%} 
              <li>{{ locationGroup.name }}</li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          None
        {%- endif -%}
      {%- endset -%}

      {%- set categoryGroups -%}
        {%- if sessionTemplate.prisonerCategoryGroups.length -%}
          <ul class="govuk-list govuk-list--bullet">
            {%- for locationGroup in sessionTemplate.prisonerCategoryGroups -%} 
              <li>{{ locationGroup.name }}</li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          None
        {%- endif -%}
      {%- endset -%}


      {%- set incentiveGroups -%}
        {%- if sessionTemplate.prisonerIncentiveLevelGroups.length -%}
          <ul class="govuk-list govuk-list--bullet">
            {%- for locationGroup in sessionTemplate.prisonerIncentiveLevelGroups -%} 
              <li>{{ locationGroup.name }}</li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          None
        {%- endif -%}
      {%- endset -%}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Reference"
            },
            value: {
              text: sessionTemplate.reference
            },
            classes: "test-template-reference"
          },
          { 
            key: {
              text: "Day of week"
            },
            value: {
              text: sessionTemplate.dayOfWeek | capitalize
            },
            classes: "test-template-dayOfWeek"

          },
          { 
            key: {
              text: "Start time"
            },
            value: {
              text: sessionTemplate.sessionTimeSlot.startTime
            },
            classes: "test-template-startTime"
          },
          { 
            key: {
              text: "End time"
            },
            value: {
             text: sessionTemplate.sessionTimeSlot.endTime
            },
            classes: "test-template-endTime"
          },
          { 
            key: {
              text: "Open capacity"
            },
            value: {
              text: sessionTemplate.sessionCapacity.open
            },
            classes: "test-template-openCapacity"
          },
          { 
            key: {
              text: "Closed capacity"
            },
            value: {
              text: sessionTemplate.sessionCapacity.closed
            },
            classes: "test-template-closedCapacity"
          },
          { 
            key: {
              text: "Valid from"
            },
            value: {
             text: sessionTemplate.sessionDateRange.validFromDate | formatDate
            },
            classes: "test-template-validFromDate"
          },
          { 
            key: {
              text: "Valid to"
            },
            value: {
              text: sessionTemplate.sessionDateRange.validToDate | formatDate
                if sessionTemplate.sessionDateRange.validToDate else "No end date"
            },
            classes: "test-template-validToDate"
          },
          { 
            key: {
              text: "Visit room"
            },
            value: {
              text: sessionTemplate.visitRoom
            },
            classes: "test-template-visitRoom"
          },
          { 
            key: {
              text: "Bi-weekly" 
            },
            value: {
              text: 'Yes' if sessionTemplate.biWeekly else 'No'
            },
            classes: "test-template-biWeekly"

          },
          { 
            key: {
              text: "Location groups"
            },
            value: {
              html: locationGroups
            },
            classes: "test-template-locationGroups"
          },
          { 
            key: {
              text: "Prisoner category groups"
            },
            value: {
             html: categoryGroups
            },
            classes: "test-template-categoryGroups"
          },
          { 
            key: {
              text: "Incentive level groups"
            },
            value: {
              html: incentiveGroups
            },
            classes: "test-template-incentiveGroups"
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
