{% extends "../../partials/layout.njk" %}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}

{% set pageHeaderTitle = sessionTemplate.name %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}

{% set primaryNavItems = [
  {
    text: "Home",
    href: "/"
  },
  {
    text: "Prisons",
    href: "/prisons",
    active: true
  }
  ] %}

{% set backLinkHref = "/prisons/" + sessionTemplate.prisonId + "/session-templates" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ prisonName }}</span>
        {{ pageHeaderTitle }}
      </h1>

      {%- set locationGroups -%}
        {%- if sessionTemplate.permittedLocationGroups.length -%}
          <ul class="govuk-list govuk-list--bullet">
            {%- for locationGroup in sessionTemplate.permittedLocationGroups -%} 
              <li>{{ locationGroup.name }}</li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          None
        {%- endif -%}
      {%- endset -%}

      {%- set categoryGroups -%}
        {%- if sessionTemplate.prisonerCategoryGroups.length -%}
          <ul class="govuk-list govuk-list--bullet">
            {%- for locationGroup in sessionTemplate.prisonerCategoryGroups -%} 
              <li>{{ locationGroup.name }}</li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          None
        {%- endif -%}
      {%- endset -%}


      {%- set incentiveGroups -%}
        {%- if sessionTemplate.prisonerIncentiveLevelGroups.length -%}
          <ul class="govuk-list govuk-list--bullet">
            {%- for locationGroup in sessionTemplate.prisonerIncentiveLevelGroups -%} 
              <li>{{ locationGroup.name }}</li>
            {%- endfor -%}
          </ul>
        {%- else -%}
          None
        {%- endif -%}
      {%- endset -%}

      {{ govukSummaryList({
        rows: [
          { 
            key: {
              text: "Reference"
            },
            value: {
              html: "<span data-test='reference'>" + sessionTemplate.reference + "</span>"
            }
          },
          { 
            key: {
              text: "Day of week"
            },
            value: {
              html: "<span data-test='dayOfWeek'>" + sessionTemplate.dayOfWeek | capitalize + "</span>"
            }
          },
          { 
            key: {
              text: "Start time"
            },
            value: {
              html: "<span data-test='startTime'>" + sessionTemplate.startTime + "</span>"
            }
          },
          { 
            key: {
              text: "End time"
            },
            value: {
              html: "<span data-test='endTime'>" + sessionTemplate.endTime + "</span>"
            }
          },
          { 
            key: {
              text: "Open capacity"
            },
            value: {
              html: "<span data-test='openCapacity'>" + sessionTemplate.openCapacity + "</span>"
            }
          },
          { 
            key: {
              text: "Closed capacity"
            },
            value: {
              html: "<span data-test='closedCapacity'>" + sessionTemplate.closedCapacity + "</span>"
            }
          },
          { 
            key: {
              text: "Valid from"
            },
            value: {
              html: "<span data-test='validFromDate'>" + sessionTemplate.validFromDate | formatDate + "</span>"
            }
          },
          { 
            key: {
              text: "Valid to"
            },
            value: {
              html: "<span data-test='validToDate'>" + sessionTemplate.validToDate | formatDate if sessionTemplate.validToDate else "No end date" + "</span>"
            }
          },
          { 
            key: {
              text: "Visit room"
            },
            value: {
              html: "<span data-test='visitRoom'>" + sessionTemplate.visitRoom + "</span>"
            }
          },
          { 
            key: {
              text: "Bi-weekly" 
            },
            value: {
              html: "<span data-test='biWeekly'>" + 'Yes' if sessionTemplate.biWeekly else 'No' + "</span>"
            }
          },
          { 
            key: {
              text: "Location groups"
            },
            value: {
              html: "<span data-test='locationGroups'>" + locationGroups + "</span>"
            }
          },
          { 
            key: {
              text: "Prisoner category groups"
            },
            value: {
              html: "<span data-test='categoryGroups'>" + categoryGroups + "</span>"
            }
          },
          { 
            key: {
              text: "Incentive level groups"
            },
            value: {
              html: "<span data-test='incentiveGroups'>" + incentiveGroups + "</span>"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
