{% extends "../../partials/layout.njk" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "moj/components/banner/macro.njk" import mojBanner -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set pageHeaderTitle = prisonName %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}

{% set primaryNavItems = [
  {
    text: "Home",
    href: "/"
  },
  {
    text: "Prisons",
    href: "/prisons",
    active: true
  }
  ] %}

{% set backLinkHref = "/prisons" %}

{% set changeStatusAction = "deactivate" if prison.active else "activate" %}

{% macro groupCountIfNotEmpty(groupArray, label) %}
  {% if groupArray | length %}
    {{ label }} ({{ groupArray | length }})
  {% endif %}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "partials/errorSummary.njk" %}

      {% if message | length %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ mojBanner({
              type: "success",
              text: prisonName + " has been " + message + ".",
              iconFallbackText: "Success"
            }) }}
          </div>
        </div>
      {% endif %}


      <form action="/prisons/{{ prison.code }}/{{ changeStatusAction }}" data-test="prison-change-status-form" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ mojPageHeaderActions({
          heading: {
            text: pageHeaderTitle,
            classes: "govuk-heading-l"
          },
          items: [{
            text: changeStatusAction | capitalize,
            classes: "govuk-button--secondary",
            preventDoubleClick: true,
            attributes: { "data-test": "prison-change-status" }
          }]
        }) }}
      </form>

      <p>This prison is currently
        {{ govukTag({
          text: "active" if prison.active else "inactive",
          classes: "govuk-tag--blue" if prison.active else "govuk-tag--grey",
          attributes: { "data-test": "prison-status" }
        }) }}
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ mojSubNavigation({
        label: "Sub navigation",
        classes: "govuk-!-margin-top-3",
        items: [{
          text: "Session templates",
          href: "/prisons/" + prison.code + "/session-templates",
          active: true
        }, {
          text: "Exclusion dates",
          href: "/prisons/" + prison.code + "/exclusion-dates"
        }, {
          text: "Category groups",
          href: "/prisons/" + prison.code + "/category-groups"
        }, {
          text: "Incentive level groups",
          href: "/prisons/" + prison.code + "/incentive-groups"
        }, {
          text: "Location groups",
          href: "/prisons/" + prison.code + "/location-groups"
        }]
      }) }}

      <h2 class="govuk-heading-m">Session templates</h2>

      {# Build rows of session templates with day as a spanned cell #}
      {% set rows = [] %}
      {% for day, sessionTemplates in sessionTemplatesByDay -%}

        {% if sessionTemplates | length %}
          {%- set rows = (rows.push([
            {
              html: '<h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-3">' + day | capitalize + "</h3>",
              colspan: 8
            }
            ]), rows) %}

            {%- for sessionTemplate in sessionTemplates -%}

              {%- set groupsListWithCount = [
                groupCountIfNotEmpty(sessionTemplate.prisonerCategoryGroups, 'Category') | trim,
                groupCountIfNotEmpty(sessionTemplate.prisonerIncentiveLevelGroups, 'Incentive') | trim,
                groupCountIfNotEmpty(sessionTemplate.permittedLocationGroups, 'Location') | trim
              ] | join("\n") | trim -%}

              {%- set rows = (rows.push([
                {
                  html: '<a href="session-templates/' + sessionTemplate.reference + '">' + sessionTemplate.name + "</a>",
                  attributes: { "data-test": "template-name" }
                },
                {
                  text: sessionTemplate.startTime + " to " + sessionTemplate.endTime,
                  attributes: { "data-test": "template-start-end-time" }
                },
                {
                  html: "Open: " + sessionTemplate.openCapacity
                    + "<br>Closed: " + sessionTemplate.closedCapacity,
                  classes: "nowrap",
                  attributes: { "data-test": "template-capacity" }
                },
                {
                  text: sessionTemplate.validFromDate | formatDate('dd MMM yyyy'),
                  classes: "nowrap",
                  attributes: { "data-test": "template-valid-from-date" }
                },
                {
                  text: sessionTemplate.validToDate | formatDate('dd MMM yyyy') if sessionTemplate.validToDate else "No end date",
                  classes: "nowrap",
                  attributes: { "data-test": "template-valid-to-date" }
                },
                {
                  text: sessionTemplate.visitRoom,
                  attributes: { "data-test": "template-visit-room" }
                },
                {
                  text: "Yes" if sessionTemplate.biWeekly else "No",
                  attributes: { "data-test": "template-bi-weekly" }
                },
                {
                  html: groupsListWithCount | nl2br if groupsListWithCount else "None",
                  classes: "nowrap",
                  attributes: { "data-test": "template-groups" }
                }
                ]), rows) %}
            {%- endfor %}
        {% endif %}
      {%- endfor %}

      {% if rows | length %}
        {{ govukTable({
          head: [
            {
              text: "Name"
            },
            {
              text: "Time"
            },
            {
              text: "Capacity"
            },
            {
              text: "Valid from"
            },
            {
              text: "Valid to"
            },
            {
              text: "Visit room"
            },
            {
              text: "Bi-weekly"
            },
            {
              text: "Groups"
            }
          ],
          rows: rows
        }) }}
      {% else %}
        <p>There are no session templates for this prison.</p>
      {% endif %}
        
    </div>
  </div>
{% endblock %}
