{% extends "partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Search for a booker account" %}
{% set pageTitle = applicationName + " - Manage bookers " + pageHeaderTitle %}
{% set activePrimaryNav = "bookers" %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/bookers/search" method="POST" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      {{ govukInput({
          label: {
            text: pageHeaderTitle,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Search for an existing booker. You can search by email address or booker reference."
          },
          id: "search",
          name: "search",
          classes: "govuk-!-width-two-thirds",
          value: formValues.search,
          autocomplete: "off",
          spellcheck: false,
          errorMessage: errors | findError("search")
        }) }}

        {{ govukButton({
          text: "Search",
          preventDoubleClick: true,
          attributes: { "data-test": "submit" }
        }) }}
    </form>

  </div>
</div>

{% endblock %}
