$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/index';
@import 'moj/all';

@import './components/card';
@import 'assets/scss/local';
