{% extends "partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}

{% set pageHeaderTitle = 'Add a location group' %}
{% set pageTitle = applicationName + " - Location groups - " + pageHeaderTitle %}

{% set primaryNavItems = [
  {
    text: "Home",
    href: "/"
  },
  {
    text: "Prisons",
    href: "/prisons",
    active: true
  }
] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ prison.name }}</span>
        {{ pageHeaderTitle }}
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "partials/errorSummary.njk" %}

      <div data-module="moj-add-another">

        <form action="/prisons/{{prisonId}}/location-groups/add" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">

          {{ govukInput({
            label: {
              html: 'Location group name',
              classes: 'govuk-label--m'
            },
            id: 'name',
            name: 'name',
            classes: 'govuk-!-width-three-quarters govuk-!-margin-bottom-4',
            value: formValues.name,
            autocomplete: "off",
            errorMessage: errors | findError('name')
          }) }}

          <h2 class='govuk-heading-m'>Location level codes</h2>
          {% call govukFieldset({
            classes: 'moj-add-another__item govuk-!-width-one-half'
          }) %}

          {{ govukInput({
            formGroup: {
              classes: 'govuk-!-display-inline-block'
            },
            label: {
              html: 'One',
              classes: 'govuk-label--s'
            },
            id: 'location[0][levelOneCode]',
            name: 'location[0][levelOneCode]',
            classes: "govuk-input--width-5",
            attributes: {
              'data-name': 'location[%index%][levelOneCode]',
              'data-id': 'location[%index%][levelOneCode]'
            }
          }) }}

          {{ govukInput({
            formGroup: {
              classes: 'govuk-!-display-inline-block'
            },
            label: {
              html: 'Two',
              classes: 'govuk-label--s govuk-!-margin-left-3'
            },
            id: 'location[0][levelTwoCode]',
            name: 'location[0][levelTwoCode]',
            classes: "govuk-input--width-5 govuk-!-margin-left-3",
            attributes: {
              'data-name': 'location[%index%][levelTwoCode]',
              'data-id': 'location[%index%][levelTwoCode]'
            }
          }) }}

          {{ govukInput({
            formGroup: {
              classes: 'govuk-!-display-inline-block'
            },
            label: {
              html: 'Three',
              classes: 'govuk-label--s govuk-!-margin-left-3'
            },
            id: 'location[0][levelThreeCode]',
            name: 'location[0][levelThreeCode]',
            classes: "govuk-input--width-5 govuk-!-margin-left-3",
            attributes: {
              'data-name': 'location[%index%][levelThreeCode]',
              'data-id': 'location[%index%][levelThreeCode]'
            }
          }) }}

          {{ govukInput({
            formGroup: {
              classes: 'govuk-!-display-inline-block'
            },
            label: {
              html: 'Four',
              classes: 'govuk-label--s govuk-!-margin-left-3'
            },
            id: 'location[0][levelFourCode]',
            name: 'location[0][levelFourCode]',
            classes: "govuk-input--width-5 govuk-!-margin-left-3",
            attributes: {
              'data-name': 'location[%index%][levelFourCode]',
              'data-id': 'location[%index%][levelFourCode]'
            }
          }) }}

          {% endcall %}

          <div class="moj-button-action">
            {{ govukButton({
              text: 'Add another location',
              classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
            }) }}
          </div>

          <div class="moj-button-action">
            {{ govukButton({
              text: 'Submit'
            }) }}
          </div>

        </form>

      </div>
        
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script nonce="{{ cspNonce }}">
    window.MOJFrontend.initAll()
  </script>
{% endblock %}
