{% extends "partials/layout.njk" %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "partials/addAnotherLocationGroup.njk" import addAnotherLocationGroup -%}

{% set pageHeaderTitle = 'Update location group' %}
{% set pageTitle = applicationName + " - Location groups - " + pageHeaderTitle %}
{% set activePrimaryNav = "prisons" %}
{% set backLinkHref = "/prisons/" + prison.code + "/location-groups/" + locationGroup.reference %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ prison.name }}</span>
        {{ pageHeaderTitle }}
      </h1>

      <form action="/prisons/{{prison.code}}/location-groups/{{locationGroup.reference}}/edit" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukInput({
          label: {
            text: "Location group name",
            classes: "govuk-label--m"
          },
          id: "name",
          name: "name",
          classes: "govuk-!-width-two-thirds govuk-!-margin-bottom-4",
          value: locationGroup.name,
          autocomplete: "off",
          errorMessage: errors | findError("name")
        }) }}

        <h2 class="govuk-heading-m">Location level codes</h2>

        {{ addAnotherLocationGroup(locationGroup.locations, errors) }}

        {{ govukButton({
          text: "Update",
          attributes: { "data-test": "submit" },
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
