<h2 class="govuk-heading-m">Category groups</h2>
{% if categoryGroupsItems | length %}
  {%- set categoryGroupsHtml %}
  {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "categoryGroupBehaviour",
      fieldset: {
        legend: {
          text: "Category groups behaviour",
          classes: "govuk-fieldset__legend--s"
        },
        attributes: { "data-test": "category-group-behaviour" }
      },
      hint: {
        text: "Include or exclude category groups from this session template?"
      },
      items: [
        {
          value: "include",
          text: "Include"
        },
        {
          value: "exclude",
          text: "Exclude"
        }
      ],
      value: formValues.categoryGroupBehaviour or "include",
      errorMessage: errors | findError('categoryGroupBehaviour')
    }) }}
    {{ govukCheckboxes({
      name: "categoryGroupReferences",
      fieldset: {
        legend: {
          text: "Which category groups?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        },
        attributes: { "data-test": "category-groups" }
      },
      hint: {
        text: "Select all that apply."
      },
      items: categoryGroupsItems,
      values: formValues.categoryGroupReferences,
      errorMessage: errors | findError('categoryGroupReferences')
    }) }}
  {% endset -%}
  {{ govukCheckboxes({
    name: "hasCategoryGroups",
    errorMessage: errors | findError('hasCategoryGroups'),
    items: [
      {
        text: "Add category groups to this session template?",
        value: "yes",
        conditional: {
        html: categoryGroupsHtml
      },
        checked: formValues.hasCategoryGroups === "yes"
      }
    ]
  }) }}
{% else %}
  <p>There are no category groups set up for this prison.</p>
{% endif %}
