<h2 class="govuk-heading-m">Incentive level groups</h2>
{% if incentiveGroupsItems | length %}
  {%- set incentiveGroupsHtml %}
    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "incentiveGroupBehaviour",
      fieldset: {
        legend: {
          text: "Incentive groups behaviour",
          classes: "govuk-fieldset__legend--s"
        },
        attributes: { "data-test": "incentive-group-behaviour" }
      },
      hint: {
        text: "Include or exclude incentive groups from this session template?"
      },
      items: [
        {
          value: "include",
          text: "Include"
        },
        {
          value: "exclude",
          text: "Exclude"
        }
      ],
      value: formValues.incentiveGroupBehaviour or "include",
      errorMessage: errors | findError('incentiveGroupBehaviour')
    }) }}
    {{ govukCheckboxes({
      name: "incentiveGroupReferences",
      fieldset: {
        legend: {
          text: "Which incentive level groups?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        },
        attributes: { "data-test": "incentive-groups" }
      },
      hint: {
        text: "Select all that apply."
      },
      items: incentiveGroupsItems,
      values: formValues.incentiveGroupReferences,
      errorMessage: errors | findError('incentiveGroupReferences')
    }) }}
  {% endset -%}
  {{ govukCheckboxes({
    name: "hasIncentiveGroups",
    errorMessage: errors | findError('hasIncentiveGroups'),
    items: [
      {
        text: "Add incentive level groups to this session template?",
        value: "yes",
        conditional: {
        html: incentiveGroupsHtml
      },
        checked: formValues.hasIncentiveGroups === "yes"
      }
    ]
  }) }}
{% else %}
  <p>There are no incentive groups set up for this prison.</p>
{% endif %}