{% extends "partials/layout.njk" %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "components/subNavigation.njk" import subNavigation %}

{% set pageHeaderTitle = prison.name %}
{% set pageTitle = applicationName + " - " + pageHeaderTitle %}
{% set activePrimaryNav = "prisons" %}

{% set changeStatusAction = "deactivate" if prison.active else "activate" %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        <span>{{ pageHeaderTitle }}</span>
      </h1>

      <p>This prison is currently
        {{ govukTag({
          text: "active" if prison.active else "inactive",
          classes: "govuk-tag--blue" if prison.active else "govuk-tag--grey",
          attributes: { "data-test": "prison-status" }
        }) }}
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ subNavigation(prison.code, "status") }}

      <h2 class="govuk-heading-m">Change prison status</h2>

      <form action="/prisons/{{ prison.code }}/{{ changeStatusAction }}" data-test="prison-change-status-form" method="POST" novalidate>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukButton({
          text: changeStatusAction | capitalize,
          classes: "govuk-button--warning" if prison.active,
          preventDoubleClick: true,
          attributes: { "data-test": "prison-change-status" }
        })}}
      </form>

    </div>
  </div>
{% endblock %}

