{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageHeaderTitle = "Prisoner details" %}
{% set pageTitle = applicationName + " - Manage bookers - " + pageHeaderTitle %}
{% set activePrimaryNav = "bookers" %}
{% set backLinkHref = "/bookers/booker/" + booker.reference %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

    <h2 class="govuk-heading-m">Booker</h2>
    <p>Email: <strong data-test="booker-email">{{ booker.email }}</strong></p>
    <p>Reference: <strong data-test="booker-reference">{{ booker.reference }}</strong></p>

    <h2 class="govuk-heading-m">Prisoner</h2>

    <p>
      Prison number: <strong data-test="prisoner-number">{{ prisoner.prisonerId }}</strong>
    </p>
    <p>
      Registered prison: <strong data-test="registered-prison-name">{{ prisonName }}</strong>
    </p>

    {{ govukButton({
      text: "Change registered prison",
      classes: "govuk-button--secondary",
      href: "/bookers/booker/" + booker.reference + "/prisoner/" + prisoner.prisonerId + "/edit",
      preventDoubleClick: true
    }) }}

    <h2 class="govuk-heading-m">Visitors</h2>
    <p>Number of linked visitors: <strong data-test="linked-visitor-count">{{ prisoner.permittedVisitors | length | default("None", true) }}</strong></p>


    {{ govukButton({
      text: "Manage booker in staff service",
      classes: "govuk-!-margin-top-5",
      href:  staffServiceUrl + "/manage-bookers/" + booker.reference + "/booker-details",
      preventDoubleClick: true,
      attributes: { "data-test": "staff-service-booker-link" }
    }) }}
  </div>
</div>

{% endblock %}
