{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageHeaderTitle = "Booker details" %}
{% set pageTitle = applicationName + " - Manage bookers - " + pageHeaderTitle %}
{% set activePrimaryNav = "bookers" %}

{% set prisonerRows = [] %}
{% for prisoner in booker.permittedPrisoners %}
  {% set prisonerRows = (prisonerRows.push([
    {
      html:
        '<a href="/bookers/booker/' + booker.reference + '/prisoner/' + prisoner.prisonerId + '" class="govuk-link--no-visited-state">' +
          prisoner.prisonerId +
        "</a>",
      attributes: { "data-test": "prison-number-" + loop.index }
    },
    {
      text: prisonNames[prisoner.prisonCode],
      attributes: { "data-test": "prison-name-" + loop.index }
    },
    {
      text: prisoner.permittedVisitors | length,
      attributes: { "data-test": "prisoner-visitors-" + loop.index }
    }
    ]), prisonerRows) %}
{% endfor %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

    <p>Email: <strong data-test="booker-email">{{ booker.email }}</strong></p>
    <p>Reference: <strong data-test="booker-reference">{{ booker.reference }}</strong></p>

    <h2 class="govuk-heading-m">Prisoners</h2>
    {% if not booker.permittedPrisoners | length %}
      <p data-test="no-prisoners">This booker has no prisoners.</p>

      {{ govukButton({
        href: "/bookers/booker/" + booker.reference + "/add-prisoner",
        text: "Add a prisoner",
        preventDoubleClick: true,
        attributes: { "data-test": "add-prisoner" }
      }) }}

    {% else %}
      <p>Select a prisoner to manage.</p>

      {{ govukTable({
        head: [
          { text: "Prison number" },
          { text: "Prison" },
          { text: "Linked visitors" }
        ],
        rows: prisonerRows
      }) }}

      <hr class="govuk-section-break govuk-section-break--l">

      <p>To remove all prisoner and visitor records for this booker you can clear the booker details.</p>
      {% call govukDetails({
        summaryText: "Clear booker details"
      }) %}
        <p>This will remove prisoner and visitor records for this booker.</p>
        <p>The email, booker reference and GOV.UK One Login identifier will be kept.</p>
        <p>This action <strong>cannot be undone</strong>.</p>

        <form action="/bookers/booker/{{ booker.reference }}/clear" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          {{ govukButton({
            text: "Clear booker details",
            classes: "govuk-button--warning govuk-!-margin-bottom-1",
            preventDoubleClick: true,
            attributes: { "data-test": "clear-booker-details" }
          }) }}
        </form>
      {% endcall %}
    {% endif %}
  </div>
</div>

{% endblock %}
