{% extends "partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "partials/activeOrInactiveTag.njk" import activeOrInactiveTag -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageHeaderTitle = "Prisoner details" %}
{% set pageTitle = applicationName + " - Manage bookers - " + pageHeaderTitle %}
{% set activePrimaryNav = "bookers" %}
{% set backLinkHref = "/bookers/booker/" + booker.reference %}

{% block content %}
{{ super() }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">{{ pageHeaderTitle }}</h1>

    <h2 class="govuk-heading-m">Booker</h2>
    <p>Email: <strong data-test="booker-email">{{ booker.email }}</strong></p>
    <p>Reference: <strong data-test="booker-reference">{{ booker.reference }}</strong></p>

    <h2 class="govuk-heading-m">Prisoner</h2>

    <p>
      Prison number: <strong data-test="prisoner-number">{{ prisoner.prisonerId }}</strong>
      <span data-test="prisoner-status" class="govuk-!-margin-left-3">{{ activeOrInactiveTag(prisoner.active) }}</span>
    </p>
    <p>
      Registered prison: <strong data-test="registered-prison-name">{{ prisonName }}</strong>
    </p>

    <div class="govuk-button-group">
      {% set prisonerAction = "deactivate" if prisoner.active else "activate" %}
      <form action="/bookers/booker/{{ booker.reference }}/prisoner/{{ prisoner.prisonerId }}/{{ prisonerAction }}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukButton({
          text: "Change registered prison",
          classes: "govuk-button--secondary",
          href: "/bookers/booker/" + booker.reference + "/prisoner/" + prisoner.prisonerId + "/edit",
          preventDoubleClick: true
        }) }}

        {{ govukButton({
          text: prisonerAction | capitalize + " prisoner",
          classes: "govuk-button--secondary",
          preventDoubleClick: true
        }) }}
      </form>
    </div>

    <h2 class="govuk-heading-m">Visitors</h2>
    {% if not visitors | length %}
      <p>No visitors set</p>
    {% else %}

      {% set visitorRows = [] %}
      {% for visitor in visitors %}
        {% set visitorAction = "deactivate" if visitor.active else "activate" %}
        {% set visitorRows = (visitorRows.push([
          {
            text: visitor.name,
            attributes: { "data-test": "visitor-name-" + loop.index }
          },
          {
            text: visitor.visitorId,
            attributes: { "data-test": "visitor-id-" + loop.index }
          },
          {
            html: (visitor.dateOfBirth | formatDate +
              '&nbsp(' + visitor.dateOfBirth | displayAge + ')') if visitor.dateOfBirth,
              attributes: { "data-test": "visitor-dob-" + loop.index }
          },
          {
            text: visitor.approved,
            attributes: { "data-test": "visitor-approved-" + loop.index }
          },
          {
            html: activeOrInactiveTag(visitor.active),
            attributes: { "data-test": "visitor-status-" + loop.index }
          },
          {
            html: '<form action="/bookers/booker/' + booker.reference + '/prisoner/' + prisoner.prisonerId + '/' + visitorAction + '-visitor" method="POST" novalidate>' +
                    '<input type="hidden" name="_csrf" value="' + csrfToken + '">' +
                    govukButton({
                      text: visitorAction | capitalize,
                      name: 'visitorId',
                      value: visitor.visitorId,
                      classes: "govuk-button--secondary",
                      preventDoubleClick: true
                    }) +
                  '</form>'
          }
          ]), visitorRows) %}
      {% endfor %}

      {{ govukTable({
        head: [
          {
            text: "Name"
          },
          {
            text: "Visitor ID"
          },
          {
            text: "Date of birth"
          },
          {
            text: "Approved visitor"
          },
          {
            text: "Status"
          },
          {
            text: "Action"
          }
        ],
        rows: visitorRows
      }) }}
    {% endif %}

    {{ govukButton({
      href: "/bookers/booker/" + booker.reference + "/prisoner/" + prisoner.prisonerId + "/add-visitor",
      classes: "govuk-button--secondary" if visitors | length,
      text: "Add a visitor",
      preventDoubleClick: true,
      attributes: { "data-test": "add-visitor" }
    }) }}

  </div>
</div>

{% endblock %}
