{% extends "partials/layout.njk" %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "components/subNavigation.njk" import subNavigation %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageHeaderTitle = prison.name %}
{% set pageTitle = applicationName + " - Configuration - " + pageHeaderTitle %}
{% set activePrimaryNav = "prisons" %}

{% set changeStatusAction = "deactivate" if prison.active else "activate" %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        <span>{{ pageHeaderTitle }}</span>
      </h1>

      {% include "partials/prisonStatusAndClients.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ subNavigation(prison.code, "config") }}
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Booking window</h2>

     <p class="govuk-body">Booking windows are counted in full days. For example, if the minimum window is 2 days and someone makes a request on Monday, the earliest available session will be Thursday (Tuesday and Wednesday are skipped).</p>

     <p class="govuk-body">If the minimum window is set to 0 days, visits can be booked for the next day.</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Min booking window"
            },
            value: {
              text: prison.policyNoticeDaysMin + (" day" | pluralise(prison.policyNoticeDaysMin)),
              classes: "test-policy-notice-days-min"
            }
          },
          {
            key: {
              text: "Max booking window"
            },
            value: {
              text: prison.policyNoticeDaysMax + (" day" | pluralise(prison.policyNoticeDaysMin)),
              classes: "test-policy-notice-days-max"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Edit booking window",
        classes: "govuk-!-margin-0",
        href: "/prisons/" + prison.code + "/configuration/booking-window/edit",
        preventDoubleClick: true,
        attributes: { "data-test": "booking-window-edit" }
      })}}

      <hr class="govuk-section-break govuk-section-break--xl">
      <h2 class="govuk-heading-m">Contact details</h2>

      {% if prisonContactDetails %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Social visits email"
              },
              value: {
                text: prisonContactDetails.emailAddress if prisonContactDetails.emailAddress else "Not set",
                classes: "test-contact-email"
              }
            },
            {
              key: {
                text: "Social visits telephone"
              },
              value: {
                text: prisonContactDetails.phoneNumber if prisonContactDetails.phoneNumber else "Not set",
                classes: "test-contact-phone"
              }
            },
            {
              key: {
                text: "Prison web address"
              },
              value: {
                html: '<a class="govuk-link--no-visited-state" href="' + prisonContactDetails.webAddress + '" target="_blank" rel="noopener noreferrer">' + prisonContactDetails.webAddress | escape + "</a>"
                  if prisonContactDetails.webAddress else "Not set",
                  classes: "test-contact-web"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Edit contact details",
          classes: "govuk-!-margin-0",
          href: "/prisons/" + prison.code + "/configuration/contact-details/edit",
          preventDoubleClick: true,
          attributes: { "data-test": "contact-details-edit" }
        })}}

      {% else %}

        <p>No contact details have been entered for this prison.</p>

        {{ govukButton({
          text: "Add contact details",
          classes: "govuk-!-margin-0",
          href: "/prisons/" + prison.code + "/configuration/contact-details/add",
          preventDoubleClick: true,
          attributes: { "data-test": "contact-details-add" }
        })}}
      {% endif %}

      <hr class="govuk-section-break govuk-section-break--xl">
      <h2 class="govuk-heading-m">Enabled services</h2>

      <p class="govuk-body">Select which services this prison should have enabled.</p>

      <form action="/prisons/{{ prison.code }}/update-enabled-services" data-test="prison-enabled-services-form" method="POST" novalidate>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% set prisonClientsByType = prison.clients | groupby("userType") %}
        {{ govukCheckboxes({
          name: "enabledServices",
          items: [
            {
              value: "STAFF",
              text: "Staff",
              checked: prisonClientsByType["STAFF"][0]["active"]
            },
            {
              value: "PUBLIC",
              text: "Public",
              checked: prisonClientsByType["PUBLIC"][0]["active"]
            }
          ]
        }) }}

        {{ govukButton({
          text: "Update enabled services",
          classes: "govuk-!-margin-0",
          preventDoubleClick: true,
          attributes: { "data-test": "update-enabled-services" }
        })}}
      </form>

      <hr class="govuk-section-break govuk-section-break--xl">
      <h2 class="govuk-heading-m">Visitor configuration</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Max total visitors"
            },
            value: {
              text: prison.maxTotalVisitors,
              classes: "test-max-total-visitors"
            }
          },
          {
            key: {
              text: "Max number of adults"
            },
            value: {
              text: prison.maxAdultVisitors,
              classes: "test-max-adult-visitors"
            }
          },
          {
            key: {
              text: "Max number of children"
            },
            value: {
              text: prison.maxChildVisitors,
              classes: "test-max-child-visitors"
            }
          },
          {
            key: {
              text: "Adult age threshold"
            },
            value: {
              text: prison.adultAgeYears,
              classes: "test-adult-age"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Edit visitor configuration",
        classes: "govuk-!-margin-0",
        href: "/prisons/" + prison.code + "/configuration/visitors/edit",
        preventDoubleClick: true,
        attributes: { "data-test": "visitor-config-edit" }
      })}}


      <hr class="govuk-section-break govuk-section-break--xl">
      <h2 class="govuk-heading-m">Visit allocation balances</h2>
      <p>There {{ "is" | pluralise(negativeBalanceCount, "are") }}
        <span data-test="negative-balance-count"><strong>{{ negativeBalanceCount }} {{ "prisoner" | pluralise(negativeBalanceCount) }}</strong></span>
        with a negative visit allocation balance. This includes both VOs and PVOs.
      </p>
      
      {% if negativeBalanceCount > 0 %}
        <p>You can reset any negative balances to zero for all prisoners at this prison.</p>

        {{ govukButton({
          text: "Reset negative balances",
          href: "/prisons/" + prison.code + "/allocations/reset/confirm",
          classes: "govuk-button--warning",
          preventDoubleClick: true,
          attributes: { "data-test": "visit-allocation-reset" }
        })}}
      {% endif %}

      <hr class="govuk-section-break govuk-section-break--xl">
      <h2 class="govuk-heading-m">Prison status</h2>

      <form action="/prisons/{{ prison.code }}/{{ changeStatusAction }}" data-test="prison-change-status-form" method="POST" novalidate>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukButton({
          text: changeStatusAction | capitalize,
          classes: "govuk-button--warning" if prison.active,
          preventDoubleClick: true,
          attributes: { "data-test": "prison-change-status" }
        })}}
      </form>

    </div>
  </div>
{% endblock %}
