{% extends "partials/layout.njk" %}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% set pageHeaderTitle %}
  {% if field === 'email' %}
    {{ 'Social visits email'}}
  {% elseif field === 'phone' %}
    {{ 'Social visits phone' }}
  {% elseif field === 'website' %}
    {{ 'Prison web address'}}
  {% endif %}
{% endset %}

{% set pageTitle = applicationName + " - Configuration page - " + pageHeaderTitle %}
{% set activePrimaryNav = "prisons" %}
{% set backLinkHref = "/prisons/" + prison.code + "/location-groups" %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ prison.name }}</span>
        {{ pageHeaderTitle }}
      </h1>

      <form action="/prisons/{{prison.code}}/configuration/edit/{{field}}" method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">


        {{ govukInput({
          label: {
            text: pageHeaderTitle,
            classes: "govuk-label--m"
          },
          id: "input",
          name: "input",
          classes: "govuk-!-width-two-thirds govuk-!-margin-bottom-4",
          value: value,
          autocomplete: "off",
          errorMessage: errors | findError("input")
        }) }}

        {{ govukButton({
          text: "Submit",
          attributes: { "data-test": "submit" },
          preventDoubleClick: true
        }) }}
      </form>

    </div>
  </div>



{% endblock %}