{% extends "partials/layout.njk" %}
{% from "components/card/card.njk" import card %}

{% set pageHeaderTitle = applicationName %}
{% set pageTitle = applicationName + " - Home" %}
{% set activePrimaryNav = "home" %}

{% set mainClasses = "govuk-main-wrapper--auto-spacing" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      {{ pageHeaderTitle }}
    </h1>

    <ul class="govuk-grid-row card-group">
      <li class="govuk-grid-column-one-third card-group__item">
        {{ card({
          "href": "/prisons",
          "clickable": "true",
          "heading": "Supported prisons",
          "description": "Manage supported prisons",
          "id": "administer-prisons"
        }) }}
      </li>
      {% if featureBookersEnabled %}
        <li class="govuk-grid-column-one-third card-group__item">
          {{ card({
            "href": "/bookers",
            "clickable": "true",
            "heading": "Bookers",
            "description": "Manage bookers",
            "id": "administer-bookers"
          }) }}
        </li>
      {% endif %}
    </ul>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/assets/card.js"></script>
{% endblock %}
