{% extends "../partials/layout.njk" %}
{% from "components/card/card.njk" import card %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set pageHeaderTitle = applicationName %}
{% set pageTitle = applicationName + " - Home" %}

{% block content %}

<div class="govuk-body">
    <div class="govuk-width-container">

      <h1 class="govuk-heading-l vsip-page-title">
        {{ govukTag({ text: "beta" }) }}
        <span>{{ pageHeaderTitle }}</span>
      </h1>

      <ul class="govuk-grid-row card-group">
        <li class="govuk-grid-column-one-third card-group__item">
              {{ card({
                "href": "/prisons",
                "clickable": "true",
                "heading": "Supported prisons",
                "description": "Add, enable and disable prisons",
                "id": "administer-prisons"
              }) }}
        </li>
        <li class="govuk-grid-column-one-third card-group__item">
            {{ card({
              "href": "/timetables",
              "clickable": "true",
              "heading": "Visit timetables",
              "description": "Administer visit schedules",
              "id": "administer-timetables"
            }) }}
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
